
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProjectLabel">Create or edit a Project</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.project.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.project.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.project.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                    ng-model="vm.project.url"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sourceCodeLocation">Source Code Location</label>
            <input type="text" class="form-control" name="sourceCodeLocation" id="field_sourceCodeLocation"
                    ng-model="vm.project.sourceCodeLocation"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_vendorProduct">Vendor Product</label>
            <input type="checkbox" class="form-control" name="vendorProduct" id="field_vendorProduct"
                    ng-model="vm.project.vendorProduct"
                     />
        </div>

        <div class="form-group">
            <label for="field_department">Department</label>
            <select class="form-control" id="field_department" name="department" ng-model="vm.project.departmentId" ng-options="department.id as department.id for department in vm.departments"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
